@charset "utf-8";

/* section_header 영역 */
.section_header {
    width: 100%;
    background-color: #f2f2f2;
}

.section_header .section_header_info {
    padding: 10px;
}

.section_header .section_header_info ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.section_header .section_header_info ul li:nth-child(1) {
    border-right: 1px solid #989898;
    padding: 0px 30px 0px 0px;
}

.section_header .section_header_info ul li:nth-child(3) {
    border-left: 1px solid #989898;
    padding: 0px 0px 0px 30px;
}

.section_header .section_header_info .steamed_food {
    display: block;
    color: #000;
    font-size: 1.500em;
    font-weight: bold;
    height: 38px;
    line-height: 2.5;
}

.section_header .section_header_info .label {
    color: #989898;
    font-size: 1.000em;
}

.section_header .section_header_info .user_img {
    display: block;
    border-radius: 50%;
}

.section_header .section_header_info img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/*메인 캐러셀 영역 */
/* 스와이프 캐러셀 영역 */
.swiper1_box {
    padding: 10px;
    background-color: #e6e3e3;
}

.swiper1 {
    width: 100%;
    height: 140px;
    position: relative;
}

.swiper1 .swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper1 .swiper-pagination-fraction {
    font-size: 1.200em;
    color: #fff;
    background-color: #464343;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    display: block;
    width: 56px;
    bottom: 0px;
    right: 0px !important;
    left: auto;
}

.swiper1 .swiper-pagination-fraction span {
    color: #fff;
}

.swiper1 .swiper-slide {
    text-align: center;
    font-size: 1.800em;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* 실시간조회 top 10 영역 */
.section_card {
    padding: 10px;
    background-color: #fff;
}

.section_card .title {
    margin-bottom: 15px;
    font-size: 1.400em;
    font-weight: bold;
}

.section_card .subject {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
}

.section_card .subject::-webkit-scrollbar {
    display: none !important;
}

.section_card .subject ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.section_card .subject ul li {
    width: auto;
    float: left;
    margin-right: 8px;
}

.section_card .subject ul li a {
    display: block;
    text-align: center;
    padding: 3px 10px;
    border: 1px solid #E95468;
    border-radius: 15px 15px;
    color: #E95468;
}

.section_card .subject ul li a.select {
    background-color: #E95468;
    color: #fff;
}

/* 실시간조회 top10 스와이프 캐러셀 */
.swiper2 {
    width: 100%;
    height: 100%;
}

.swiper2 .swiper2-slide {
    /* margin-right: 10px !important; */
    position: relative;
    padding-bottom: 5px;
    /* width: 100px !important; */
}


.swiper2 .swiper2-slide::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 1px;
    left: 48%;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #989898 transparent;
}

.swiper2 .swiper-slide-active.swiper2-slide::before {
    border-color: #e83636 transparent;
}

.swiper2 .swiper2-slide::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 2px;
    left: 48%;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #fff transparent;
}

.swiper2 .swiper2-slide a {
    display: block;
    border: 1px solid #989898;
    padding: 5px;
    border-radius: 5px;
}

.swiper2 .swiper-slide-active.swiper2-slide a {
    border: 1px solid #e83636;
}

.swiper2 .swiper_boxs .swiper_box_top {
    position: relative;
}

.swiper2 .carusel_num {
    font-size: 1.400em;
    font-weight: bold;
    /* padding: 10px; */
    z-index: 10;
    color: #e83636;
}

.swiper2 .swiper_boxs .calorie {
    font-size: 1.000em;
    position: relative;
    left: 26px;
}

.fa-exclamation-triangle {
    position: absolute;
    top: 1px;
    left: -7px;
    font-size: 1.300em;
}

.swiper2 .swiper_boxs .calorie span {
    border: 1px solid #eee;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    padding: 0px 4px 0px 8px;
    font-size: 1.000em;
    color: gray;
}

.swiper2 .swiper_boxs .additive_color {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 6px;
    border-radius: 50%;
}

.swiper2 .top10_img {
    /* width: 100px; */
    max-height: 114px;
    padding: 10px;
    margin: 0 auto;
}

.swiper2 img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.swiper2 .carusel_menu {
    width: 100%;
    text-align: center;
}

.swiper2 .carusel_title {
    font-size: 1.100em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.swiper2 .carusel_maker {
    font-size: 1.000em;
    color: gray;
}

/* 실시간조회 top10 스와이프 댓글 */
.inquiry_period_top10 .best_comment {
    margin-top: 10px;
    position: relative;
}

.inquiry_period_top10 .best_comment .user_img_box {
    /* width: 15%; */
    float: left;
    position: relative;
}

.inquiry_period_top10 .best_comment .user_img {
    float: left;
    border-radius: 50%;
    border: 3px solid #E95468;
    width: 41px;
    height: 40px;
}

.inquiry_period_top10 .best_comment img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.inquiry_period_top10 .best_comment .user_img span {
    position: absolute;
    bottom: -6px;
    left: 8px;
    color: #fff;
    font-size: 1.000em;
    font-weight: bold;
    border: 1px solid #E95468;
    background-color: #E95468;
}

.inquiry_period_top10 .best_comment .user_comment {
    float: left;
    width: 82%;
    margin-left: 5px;
}

.inquiry_period_top10 .best_comment .user_comment .user_name {
    font-weight: bold;
}

.inquiry_period_top10 .best_comment .user_comment .user_best_comment {
    width: 100%;
    white-space: normal;
    line-height: 1.4;
    height: 30px;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.100em;
}


/* 카테고리별 랭킹 */
.category {
    padding: 0px;
    background-color: #fff;
    margin-top: 10px;
    position: relative;
}

.category .title {
    padding-top: 10px;
    padding-left: 10px;
}

.category.section_card .subject {
    padding-left: 5px;
    width: 100%;
}

/* 실시간조회 top10 스와이프 캐러셀 */
.swiper3 {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.swiper3 .swiper-wrapper {
    justify-content: space-around !important;
}

.swiper3 .swiper3-slide {
    margin-right: 0px !important;
    position: relative;
    width: 100px !important;
}



.swiper3 .swiper3-slide a.gold_box {
    display: block;
    border: 1px solid gold;
    padding: 0px 5px 5px 5px;
    border-radius: 5px;
}

.swiper3 .swiper3-slide a.silver_box {
    display: block;
    border: 1px solid silver;
    padding: 0px 5px 5px 5px;
    border-radius: 5px;
}

.swiper3 .swiper3-slide a.copper_box {
    display: block;
    border: 1px solid rgb(220, 181, 148);
    padding: 0px 5px 5px 5px;
    border-radius: 5px;
}


.swiper3 .swiper_boxs .swiper_box_top {
    position: relative;
}

.swiper3 .swiper_boxs .swiper_box_top .gold {
    width: 30px;
    margin: 0px;
}

.swiper3 .swiper_boxs .swiper_box_top .carusel_num_img {
    position: relative;
    top: -3px;
    left: 0px;
    height: 30px;
}

.swiper3 .swiper_boxs .swiper_box_top .carusel_num {
    position: absolute;
    top: 2px;
    left: 1.200em;
    font-size: 1.000em;
    font-weight: bold;
    z-index: 10;
    color: #fff;
}

.swiper3 .swiper_boxs .swiper_box_top .gold:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.swiper3 .swiper_boxs .swiper_box_top .silver {
    width: 30px;
    height: 38px;
    margin: 0px;
}

.swiper3 .swiper_boxs .swiper_box_top .silver:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.swiper3 .swiper_boxs .swiper_box_top .copper {
    width: 30px;
    height: 38px;
    margin: 0px;
}

.swiper3 .swiper_boxs .swiper_box_top .copper:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}


.swiper3 .swiper_boxs .calorie {
    font-size: 1.000em;
    position: relative;
    left: 26px;
}

.fa-exclamation-triangle {
    position: absolute;
    top: 1px;
    left: -7px;
    font-size: 1.300em;
}

.swiper3 .swiper_boxs .calorie span {
    border: 1px solid #eee;
    border-radius: 0px 5px 5px 0px;
    border-left: none;
    padding: 0px 4px 0px 8px;
    font-size: 1.000em;
    color: gray;
}

.swiper3 .swiper_boxs .additive_color {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 6px;
    border-radius: 50%;
}

.swiper3 .top10_img {
    width: 100%;
    max-height: 114px;
    padding: 10px;
}

.swiper3 img {
    width: 100%;
    height: 100%;
}

.swiper3 .carusel_menu {
    width: 100%;
    text-align: center;
}

.swiper3 .carusel_title {
    font-size: 1.100em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.swiper3 .carusel_maker {
    font-size: 1.000em;
    color: gray;
}

/* 전체보기 링크 영역 */
.view_all {
    border-top: 1px solid #f4f4f4;
    text-align: center;
    margin-top: 5px;
}

.view_all .view_all_link {
    display: block;
    padding: 10px 0px;
}

.view_all .view_all_link .view_all_text {
    padding-right: 20px;
    position: relative;
    font-weight: bold;
    color: #E95468;
    font-size: 1.300em;
}

.view_all .view_all_link .view_all_text::after {
    transform: rotate(45deg);
    height: 8px;
    width: 8px;
    content: "";
    position: absolute;
    top: 50%;
    right: 2px;
    margin: -5px 0 0 -8px;
    border: 1px solid #E95468;
    border-width: 2px 2px 0 0;
}

/* 검색 결과 페이지 */
.search_results {
    width: 100%;
    height: 100%;
}

.search_results .results_box {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 10px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #ababab;
}


.search_results .results_box:last-child {
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

.search_results .results_box .additive_color {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
}

.search_results .results_box .results_img {
    width: 20%;
    max-width: 20%;
}

.search_results .results_box .results_img img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.search_results .results_box .results_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 0px 0px 0px 20px;
    justify-content: space-between;
}

.search_results .results_box .results_content .title {
    font-size: 1.300em;
    color: #ababab
}

.search_results .results_box .results_content .contents {
    font-weight: bold;
    font-size: 1.300em;
}

.search_results .results_box .results_content .comment {
    font-size: 1.2em;
}

.search_results .results_box .results_content .comment div {
    display: inline-block;
}

.search_results .results_box .results_content .comment span {
    color: #ababab;
}

.fa-eye,
.fa-comment-dots {
    color: rgb(210, 189, 124);
    font-weight: 100;
}

/* 상품정보 페이지 영역 */
.product_info {
    width: 100%;
}

.product_info .product_info_box {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
    text-align: center;
    background-color: #fff;
}

.product_info .product_info_box .title {
    font-size: 1.400em;
    font-weight: bold;
    letter-spacing: -0.077em;
}

.product_info .product_info_box .title span {
    border: 1px solid #ababab;
    border-radius: 50%;
    padding: 0px 4px;
    font-size: 1.000em;
    color: #ababab;
    margin-left: 3px;
}

.product_info .product_info_box .maker {
    margin-top: 0.385em;
    color: #E95468;
    font-size: 1.400em;
    font-weight: bold;
    letter-spacing: -0.077em;
}

.product_info .product_info_box .product_img {
    padding: 0px 20%;
    max-height: 248px;
}

.product_info .product_info_box .product_img img {
    width: 100%;
    height: 100%;
}


.product_info .product_info_box .flag_img img {
    width: 18px;
    vertical-align: top;
}

.product_info .product_info_box .flag_img span {
    font-weight: bold;
    font-size: 1.2em;
}

.product_info .product_info_box .satisfaction_evaluation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px;
}

.product_info .product_info_box .satisfaction_evaluation .satisfaction_box {
    display: flex;
    border: 1px solid #f3f3f3;
    padding: 10px;
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 1.2em;
}

.product_info .product_info_box .satisfaction_evaluation .satisfaction_box .satisfaction {
    padding-right: 4px;
}

.product_info .product_info_box .satisfaction_evaluation .satisfaction_box .repurchase {
    padding-left: 4px;
    padding-right: 4px;
}

.product_info .product_info_box .satisfaction_evaluation .satisfaction_box .evaluation {
    color: #ababab;
    position: relative;
    padding-right: 10px;
}

.product_info .product_info_box .satisfaction_evaluation .satisfaction_box .evaluation::after {
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    content: "";
    position: absolute;
    margin: -3px 0 0 -8px;
    border: 1px solid #ababab;
    border-width: 1px 1px 0 0;
    right: 0;
    top: 50%;
}

/* 상품정보 첨가물 영역 */
.product_info .additive_box {
    border: 1px dotted #ababab;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2em;
}

.product_info .additive_box .additive {
    width: 60%;
    border-right: 1px dotted #ababab;
    padding: 10px;
}

.product_info .additive_box .additive p {
    margin-bottom: 10px;
    font-weight: bold;
}

.product_info .additive_box .additive .color_box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding: 0px 10%; */
}

.product_info .additive_box .additive .careful .additive_color {
    display: inline-block;
    margin-top: 6px;
}

.product_info .additive_box .additive .careful .additive_color.select {
    margin-top: 0px;
}

.product_info .additive_box .additive .careful .demoSpan1 {
    display: block;
    position: relative;
}


.demoSpan1:before {
    content: '';
    height: 4px;
    width: 4px;
    display: block;
    border: 1px solid #ababab;
    border-right-width: 0;
    border-top-width: 0;
    position: absolute;
    bottom: -11px;
    left: 0px;
}

.demoSpan1::after {
    content: '';
    height: 4px;
    width: 4px;
    display: block;
    border: 1px solid #ababab;
    border-left-width: 0;
    border-top-width: 0;
    position: absolute;
    bottom: -11px;
    right: 0px;
}

.product_info .additive_box .additive .additive_color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: auto;
    color: #fff;
    font-weight: bold;
}

.product_info .additive_box .additive .additive_color.select {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.product_info .additive_box .target_age {
    width: 40%;
    padding: 10px;
}

.product_info .additive_box .target_age p {
    margin-bottom: 10px;
    font-weight: bold;
}

.product_info .additive_box .target_age span {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

.product_info .additive_box .target_age .fa-cat {
    font-size: 1.5em;
}

.product_info .additive_box .additive_text {
    color: #ababab;
    letter-spacing: -1px;
}

.font_12 {
    font-size: 1.2em;
}


/* 브랜드스토리 영역 */
.product_info .brand_story_box {
    margin-top: 10px;
    position: relative;
    background-color: #fff;
}

.product_info .brand_story_box .title {
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.product_info .brand_story_box .brand_story_img {
    background: #e6e3e3;
    /* padding-bottom: 5px; */
}

.product_info .brand_story_box img {
    width: 100%;
    height: 100%;
}

.product_info .brand_story_box .brand_story_btn {
    color: #000;
    font-size: 1.300em;
    transition: all 0.3s ease;
    text-align: center;
}

.product_info .brand_story_btn .view_all_link {
    display: block;
    padding: 10px 0px;
}

.product_info .brand_story_btn .fa-angle-up,
.product_info .brand_story_btn .fa-angle-down {
    color: #E95468;
}

/* 푸드톡 영역 */
.product_info .food_talk {
    margin-top: 10px;
    padding: 10px;
    position: relative;
    background-color: #fff;
}

.product_info .food_talk .title {
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_info .food_talk .title .food_talk_link {
    color: #E95468;
    font-size: 0.857em;
}

.product_info .food_talk .best_comment {
    margin-top: 10px;
    position: relative;
}

.product_info .food_talk .best_comment .user_img_box {
    /* width: 15%; */
    float: left;
    position: relative;
}

.product_info .food_talk .best_comment .user_img {
    float: left;
    border-radius: 50%;
    border: 3px solid #E95468;
    width: 42px;
    height: 40px;
}

.product_info .food_talk .best_comment img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.product_info .food_talk .best_comment .user_img span {
    position: absolute;
    bottom: -6px;
    left: 9px;
    color: #fff;
    font-size: 1.000em;
    font-weight: bold;
    border: 1px solid #E95468;
    background-color: #E95468;
}

.product_info .food_talk .best_comment .user_comment {
    float: left;
    width: 82%;
    margin-left: 5px;
}

.product_info .food_talk .best_comment .user_comment .user_name {
    font-weight: bold;
    font-size: 1.1em;
}

.product_info .food_talk .best_comment .user_comment .species {
    color: #ababab;
}

.product_info .food_talk .best_comment .user_comment .user_best_comment {
    width: 100%;
    white-space: normal;
    line-height: 1.4;
    height: 48px;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 1.100em;
}

/* 에밀리 추천상품영역 */
.product_info .recommended_products {
    margin-top: 10px;
    padding: 10px;
    position: relative;
    background-color: #fff;
}

.product_info .recommended_products .title {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.swiper4 {
    width: 100%;
    height: 100%;
}


.swiper4 .swiper4-slide {
    position: relative;
}

.swiper4 .swiper4-slide .swiper_boxs {
    display: block;
    border: 1px solid #989898;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.swiper4 .swiper_boxs .swiper_box_top {
    position: relative;
    height: 15px;
}

.swiper4 .swiper_boxs .additive_color {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50%;
}

.swiper4 .top10_img {
    width: 100%;
    max-height: 124px;
    padding: 10px;
}

.swiper4 img {
    width: 100%;
    height: 100%;
}

.swiper4 .carusel_menu {
    width: 100%;
    text-align: center;
}

.swiper4 .carusel_title {
    font-size: 1.100em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.swiper4 .carusel_maker {
    font-size: 1.000em;
    color: gray;
}

/* 수정요청 제휴문의 영역 */
.product_info .request {
    margin: 10px 0px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #828282;
    font-size: 1.2em;
}

.product_info .request .amendment {
    width: 50%;
    padding: 10px;
    border-right: 1px solid #e6e3e3;
}

.product_info .request .alliance {
    width: 50%;
    padding: 10px;
}

/* 식품첨가물 영역 */
.product_info .food_additives {
    position: relative;
    background-color: #fff;
}


.product_info .food_additives .title {
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #989898;
}

.product_info .food_additives .ingredient_box {
    padding: 10px;
}

.product_info .food_additives .ingredient_box .fa-hubspot {
    color: #828282;
    margin-right: 4px;
}

.product_info .food_additives .ingredient_box .flat-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.product_info .food_additives .ingredient_box .flat-table tbody tr {
    border-bottom: 1px solid #989898;
}

.product_info .food_additives .ingredient_box .flat-table th {
    font-size: 1.2em;
    color: #757373;
}

.product_info .food_additives .ingredient_box .flat-table td {
    padding: 10px 0px;
}

.product_info .food_additives .ingredient_box .flat-table td.ingredient {
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
    position: relative;
}

.product_info .food_additives .ingredient_box .flat-table td.ingredient .additive_color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
}

.product_info .food_additives .ingredient_box .flat-table td.Usage {
    font-size: 1.2em;
    color: #7b7b7b;
    font-weight: bold;
}

.product_info .food_additives .ingredient_box .flat-table td.explanation {
    color: #E95468;
    text-align: right;
    font-weight: 600;
    font-size: 1.1em;
}

.with_reference {
    letter-spacing: -1px;
    color: #7b7b7b;
}

/* 일반 원재료 영역 */
.product_info .materials {
    margin-top: 10px;
    padding: 10px;
    position: relative;
    background-color: #fff;
}

.product_info .materials .title {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.product_info .materials .content {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 20px;
}

/* 영양성분구성 비율 영역 */
.product_info .nutrient_composition {
    margin-top: 10px;
    position: relative;
    background-color: #fff;
}

.product_info .nutrient_composition .title {
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.product_info .nutrient_composition .guideline_filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    letter-spacing: -1px;
}

.product_info .nutrient_composition .guideline_filter .filter_btn {
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
}

.product_info .nutrient_composition .guideline_filter .filter_btn span {
    text-align: center;
    padding: 0.300em 1em;
    border: 1px solid #7b7b7b;
    border-radius: 15px 15px;
    color: #7b7b7b;
    margin-left: 5px;
}

.product_info .nutrient_composition .guideline_filter .filter_btn .select {
    background-color: #E95468;
    color: #fff;
    border: 1px solid #E95468;
}

.product_info .nutrient_composition .nutrient_table {
    margin-bottom: 10px;
}

.product_info .nutrient_composition .nutrient_table .flat-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.product_info .nutrient_composition .nutrient_table .flat-table tbody tr td:first-child {
    border-left: none;
}

.product_info .nutrient_composition .nutrient_table .flat-table tbody tr td:last-child {
    border-right: none;
}

.product_info .nutrient_composition .nutrient_table .flat-table th {
    font-size: 1.2em;
    color: #000;
    background-color: #e6e3e3;
}

.product_info .nutrient_composition .nutrient_table .flat-table th:first-child {
    background-color: #fff;
    border-left: none;
    border-top: none;
}

.product_info .nutrient_composition .nutrient_table .flat-table td {
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
}

.product_info .nutrient_composition .nutrient_table .flat-table td.ingredient {
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
    position: relative;
}

.product_info .nutrient_composition .nutrient_table .flat-table td.ingredient .additive_color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
}

.product_info .nutrient_composition .nutrient_table .flat-table td.Usage {
    font-size: 1.2em;
    color: #7b7b7b;
    font-weight: bold;
}

.product_info .nutrient_composition .nutrient_table .flat-table td.explanation {
    color: #E95468;
    text-align: right;
    font-weight: 600;
    font-size: 1.1em;
}

.product_info .nutrient_composition .nutrient_table th,
.product_info .nutrient_composition .nutrient_table td {
    padding: 5px;
    border: 1px solid #7b7b7b;
}

td:empty {
    border: none;
}

.product_info .nutrient_composition .with_reference {
    padding: 10px;
}

/* 식품 정보 최종 업데이트 영역 */
.product_info .last_updated {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    color: #828282;
    font-size: 1.3em;
    background-color: #fff;
    font-weight: bold;
}

.product_info .last_updated .title {
    padding: 10px;
    display: flex;
    flex: auto;
    justify-content: space-between;
}

.product_info .last_updated .title .update {
    font-size: 1.1em;
}

.product_info .last_updated .last_updated_box {
    padding: 0px 10px 10px 10px;
}

.product_info .last_updated .last_updated_box .title {
    padding: 10px 15px 0px 0px;
    display: flex;
    flex: auto;
    justify-content: space-between;
    font-weight: 500;
}

.product_info .last_updated .last_updated_box .title:first-child {
    border-top: 1px solid #989898;
}

.product_info .last_updated .last_updated_box .title .date {
    font-size: 1.1em;
}

/* 식품첨가물 모달영역 */
.modal_viw {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    zoom: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 999;
}

.all_modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: 100%;
}

.all_modal .food_additives_modal {
    margin: 0 auto;
    width: 65%;
    z-index: 1005;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 20px 10px 40px 10px;
    position: relative;
}

.all_modal .food_additives_modal .close {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 1.6em;
    color: #828282;
}

.all_modal .food_additives_modal .title {
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.all_modal .food_additives_modal .rating {
    position: relative;
    text-align: left;
    padding: 10px 0px;
}

.all_modal .food_additives_modal .rating .additive_color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
}

.all_modal .food_additives_modal .rating .rating_title {
    font-size: 1.3em;
    color: #000;
    font-weight: bold;
}

.all_modal .food_additives_modal .rating .rating_content {
    padding: 5px 0px 0px 18px;
    font-size: 1.2em;
}

.all_modal .food_additives_modal .main_purpose {
    position: relative;
    text-align: left;
    padding: 10px 0px;
}

.all_modal .food_additives_modal .main_purpose .fa-hubspot {
    font-size: 1.5em;
    margin-right: 0px;
}

.all_modal .food_additives_modal .main_purpose .main_purpose_title {
    font-size: 1.3em;
    color: #000;
    font-weight: bold;
}

.all_modal .food_additives_modal .main_purpose .main_purpose_content {
    padding: 5px 0px 0px 18px;
    font-size: 1.2em;
}

.all_modal .food_additives_modal .other_uses {
    display: flex;
    flex-direction: row;
    text-align: left;
    color: #828282;
    border: 1px solid #e6e3e3;
}

.all_modal .food_additives_modal .other_uses .left_other_uses {
    padding: 10px 2px;
    border-right: 1px solid #e6e3e3;
    background-color: #e6e3e3;
}

.all_modal .food_additives_modal .other_uses .right_other_uses {
    width: 70%;
    padding: 10px;
}